.version.cams {
    color: #000007;
    background-color: #8BA544;
}

#page {
    z-index: 1;
    width: 1700px;
    min-height: 982px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

#pu229 {
    z-index: 2;
    width: 0.01px;
    height: 0px;
    padding-bottom: 1567px;
    margin-bottom: -585px;
    margin-right: -10000px;
}

#u229 {
    z-index: 2;
    height: 1567px;
    background-color: #000000;
    position: fixed;
    top: 0px;
}

#u229-bw {
    z-index: 2;
}

#u232 {
    z-index: 4;
    width: 204px;
    background-color: transparent;
    position: fixed;
    top: 32px;
    right: 100px;
}

#u262 {
    z-index: 6;
    width: 1496px;
    background-color: transparent;
    position: fixed;
    top: 32px;
    left: 50%;
    margin-left: -850px;
}

#u222 {
    z-index: 8;
    width: 1700px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -850px;
}

#u252 {
    z-index: 10;
    width: 1496px;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    left: 100px;
}

#u242 {
    z-index: 12;
    width: 204px;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    right: 100px;
}

#u400 {
    z-index: 3;
    height: 31px;
    background-color: #B2B2B2;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u400-bw {
    z-index: 3;
    height: 31px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 2517px);
}

#muse_css_mq,.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 1700px;
}
